.userChatting{
    /* width: 835px; */
    width: 50vw;
    overflow-x: hidden;
    overflow-y: hidden;
    border-right: 1px solid #707070;
    position: relative;
}
#userChatting2{
    margin: auto;
    text-align: center;
}

#userChatting2 p span{
    color: blue;
    cursor: pointer;
}
#userChatting2 p span:hover{
    color: red;
    transform: scale(1.1);
    text-decoration: underline;
}

#userChatting2 img{
    width: 250px;
}

.userChatting #userImg{
    width: 35px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.userChatting .chattingUserHeader{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    border-bottom: 1px solid #707070;
    position: absolute;
    /* width: 774px; */
    width: 92%;
    background-color: #F2F1F1;
    
}

#deleteHeaderText{
    display: flex;
    padding: 10px 0px;
    gap: 15px;
    align-items: center;
}

#deleteHeaderText button{
    padding: 4px;
    width: 70px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#deleteHeaderText button:hover{
    transform: scale(1.1);
}

    #deleteHeaderText button:first-child{
    background-color: #E00000;
    color: white;
}

.selectMessage{
    background-color: rgba(0, 109, 255, 0.2)   
}

#checkBox{
    font-size: 20px;
    color: #292727eb;
}

#deleteHeaderText button:last-child{
    border: 2px solid black;
    background-color: #EEE3E3
}

    .userChatting .Loading{
    position: absolute;
    /* display: none; */
}


.userChatting .Loading img{
    width: 60px;
}

.chattinguserInfo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.chattingUserHeader h3{
    margin: 0;
    font-size: 15px;
}

.chattingUserHeader p{
    margin: 0;
    font-size: 10px;
}

#searchInput{
    margin-right: -15px;
    padding: 2px 5px;
    border-radius: 2px;
}

#logos{
    display: flex;
    align-items: center;
    gap: 23px;
}

#logos #headerLogo{
    font-size: 18px;      
}

#backgroundImg{
    width: 100%;
}

#senderName{
    cursor: pointer;
}

#userChats{
    background-image: url("../../Assets/chatAppBackground.png");
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 91.4%;
    margin-top: 60px;
    display: flex;
    flex-direction: column-reverse;
    height: calc(100vh -  150px);
    /* justify-content: end; */
    
}

#userChats .messageSend{
    min-width: 150px;
    max-width: 70%;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 7px;
    padding-right: 20px;
    color: white;
    box-shadow: 0px 0px 5px grey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}



.messageSend div{
    font-weight: 500;
    display: flex ;
    align-items: center;

}

.messageSend div p, .messageReceve div p{
    margin: 0;
    width: 95%;
    overflow-wrap: break-word;
}



#dropDownMenu{
    position: absolute;
    top: 40px;
    background-color: white;
    right: 10px;
    padding: 5px;
    width: 150px;
    padding-bottom: 15px;
    box-shadow: 0 0 5px grey;
    border-radius: 5px;
    display: none;
    z-index: 999;
}

#dropDownMenu h4{
    margin: 0px;
    padding: 2px;
    cursor: pointer;
    border-bottom: 1px solid grey;
}

#dropDownMenu h4:hover{
    background-color: rgba(0, 0, 0, 0.084);
}

#threeBotMenu{
    cursor: pointer;
}

#threeBotMenu:hover #dropDownMenu{
    transition: 40s;
    display: block;
}

#timeStamp{
    margin: 0;
    text-align: end;
    font-size: 10px;
    margin-right: 10px;
    letter-spacing: 2px;
}

.messageSend img{
    width: 35px;
    aspect-ratio: 1;
}


.messageReceve{
    min-width: 200px;
    max-width: 70%;
    background-color: white;
    margin-bottom: 7px;
    margin-top: 7px;
    display: inline-block;
    padding: 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 5px grey;
}

.messageSendheader{
    display: flex ;
    align-items: flex-end; 
    justify-content: flex-end;
    /* width: 835px ; */
    /* width: 50vw ; */
    width: 100% ;
}

#writeMessage{
    /* width: 815px; */
    background-color: white;
    height: 40px;
    /* position: absolute; */
    bottom: 0;
    padding:5px 10px;
}

.writeMessage{
    background-color: #00000014;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px 20px;
    justify-content: space-between;
}


#enterMessage{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-grow: 1.2;
}

#enterMessage textarea{
    background-color: transparent;
    border: none;
    font-size: 15px;
    /* width: 670px; */
    width: 100%;
    resize: none;
    overflow: hidden;
    height: 15px;
}

#enterMessage textarea:focus{
    border: none;
    outline: none;
}

#sendMessage{
    width: 20px;
    aspect-ratio: 1;
    background-color: #44D7B6;
    color: white;
    border-radius: 50%;
    padding: 6px;
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: center;
}


.UserDpShow{
    position : absolute;
    width:100vw;
    top:0;
    left:0;
    z-index:99999;
    height:100vh;
    background-color:#000000c2;
    display:flex;
    align-items:center;
    justify-content:center;

}

.Attachments{
    position: absolute;
    bottom: 40px;
    background-color: rgba(0, 0, 0, 0.344);
    width: 60%;
    z-index: 9999;
    height: 140px;
    /* width: 70%; */
    padding: 0px 20%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    /* padding-top: 50px; */
}

.Attachments input{
    display: none;
}

#sharedImg{
    /* width: 295px; */
    width: 270px;
    cursor: pointer;
    aspect-ratio: 1.5;
    background-color: rgb(232, 227, 227);
    padding: 2px;
    margin-left: 10px;
    border-radius: 5px;

}

#AttachmentLogo{
    background-color: white;
    margin-top: 45px;
    border-radius: 10px;
    padding: 15px;
    font-size: 25px;
}

#AttachmentLogo:hover{
    transform: scale(1.05);
    background-color: greenyellow;    
    color: white;

}

#pdfLogo{
    width: 25px;
}

#pdfFiles{
    display: flex;
    align-items: center;
    gap: 10px;
}

.messageReceve div{
    display: flex;
    align-items: center;
    gap: 10px;
}

#attachmentShowLogo{
    cursor: pointer;
}
#attachmentShowLogo:hover{
    transform: scale(1.1);
}

.UserDpShow img{
    width:450px;
    margin-bottom:20px;
    background-color:white;
}

#backBtn{
    color:white;
    font-size:25px;
    font-weight:bolder;
    position:absolute;
    top:40px;
    left:40px;
}
