@use "../abstract/" as *;
.Loading {
    @include flexMixin(center,center,column);
    width: 100%;
    height: 100%;
    // z-index: 999999;
    z-index: 6;
    background-color: white;
    gap: 10px;
    img {
        width: 200px;
    }
    #loading{
        width: 250px;
        background-color: rgb(196, 191, 191);
        height: 5px;
        #loadingShow{
            height: 5px;
            background-color: rgb(210, 14, 210) ;
            // background-color: aqua ;
            animation: loadingBar 5s;
        }
    }
}
@keyframes loadingBar{
    0%{
        width: 0;
    }
    100%{
        width: 94%;
    }
}