@use "../abstract/" as *;

.Login {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  padding: 40px 40px;
  width: 350px;
  @include flexMixin($direction: column);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  h2 {
    margin: 10px;
    width: 100%;
  }

  form {
    width: 100%;

    label {
      font-size: 14px;
      letter-spacing: 1px;
    }

    input[type="text"],
    input[type="password"] {
      margin-top: 5px;
      margin-bottom: 10px;
      width: 100%;
      font-size: 14px;
      padding: 6px;
      // border: 1px solid black;
      // border-radius: 4px;
      outline: none;
      border: none;
      border-bottom: 2px solid rgb(0, 0, 0);
      &:focus{
        border-color: red;
        border-width: 3px;
      }
    }

    #inputPassword {
      position: relative;

      #logo {
        position: absolute;
        bottom: 17px;
        // right: 10px;
        right: 0px;
        cursor: pointer;
      }
    }
  }

  #rememberME {
    @include flexMixin(center, end);

    // text-align: end;
    label {
      font-size: 11px;
    }
  }

  button {
    margin-top: 35px;
    padding: 7px;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    background-color: #44d7b6;
    color: #fff;
    font-weight: 700;
    letter-spacing: 4px;
    cursor: pointer;
    width: 100%;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.303);
    }
  }

  p {
    font-size: 10px;
    margin-top: 10px;
    letter-spacing: 2px;
    width: 100%;
    text-align: end;
    span {
      color: #00f;
      font-weight: 500;
      font-size: 10px;
      cursor: pointer;
    }
  }
  h3{
    margin: 15px;
  }
  #authLogin{
    @include flexMixin();
    gap: 20px;

    svg{
      cursor: pointer;
      font-size: 30px;
      border-radius: 50%;
      padding: 4px;
      &:hover{
        transform:scale(1.05);
      }
      &:nth-child(1){
        border: 2px solid red;
      }
      &:nth-child(2){
        color: #00f;
        border: 2px solid #00f;
      }
      &:nth-child(3){
        border: 2px solid black;
      }
    }
  }
  @media (max-width:500px){
    width: 70vw;
  }
}