.Setting {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 10vw;
  color: inherit;
  background-color: inherit;
  overflow: hidden;
  overflow-y: scroll;
  gap: 20px;
  // min-height: 100%;
  width: 100%;
  // max-height: 100%;
  // padding-top: 50px;
  position: relative;

  #Theme {
    position: absolute;
    right: 20px;

    @media (max-width : 685px) {
      top: 18px;
      // .react-switch{
      // }
    }
  }

  #settingTopic {
    font-size: 25px;
    border-bottom: 1px solid grey;
    padding: 10px;
    margin: 0;
    // margin-top: 200px;
  }

  #userSetting {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    padding-top: 10px;
    border-bottom: 1px solid grey;

    h1,
    p {
      margin: 0;
      &::first-letter{
        text-transform: capitalize;
        
      }
    }

    .userImgName {
      display: flex;
      gap: 20px;
      align-items: center;
    }

    #userDP {
      width: 250px;
      aspect-ratio: 1;
      border-radius: 50%;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
      }

      &:hover #changeDP {
        display: flex;
      }
    }

    #logoutBTN {
      font-size: 12px;
      color: blue;
      padding: 4px;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      margin-right: 20px;
      font-weight: 700;
      background-color: blueviolet;
      margin-top: 5px;
      width: 50px;
      text-align: center;
      margin-left: 75%;

      &:hover {
        transform: scale(1.1);
        background-color: greenyellow;
        color: red;
      }
    }

    #changeDP {
      position: absolute;
      top: 0;
      text-align: center;
      width: 100%;
      height: 100%;
      display: none;
      // z-index: 99999;
      z-index: 5;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.314);
      flex-direction: column;
      color: white;
      cursor: pointer;
    }

    #changeDpUnder {
      position: absolute;
      // z-index: 9999;
      z-index: 4;
      width: 100%;
      height: 100%;
      display: flex;

      p,
      label {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.153);
        }
      }

      input {
        display: none;
      }
    }

    #changeDPInput {
      display: none;
    }

    #dpInputLogo {
      font-size: 70px;
      margin-bottom: 90px;
    }

    #socialLogo {
      display: flex;
      gap: 30px;

      img {
        width: 30px;
        aspect-ratio: 1;
      }
    }
  }

  #userSetting2 {
    padding: 40px;
    padding-top: 10px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 50px;

    button {
      font-size: 20px;
      padding: 10px;
      width: 200px;
      border: none;
      cursor: pointer;
      background-color: blueviolet;
      color: white;
      font-weight: 700;

      &:hover {
        box-shadow: 0 0 10px grey;
        background-color: greenyellow;
      }
    }
  }

  .themes {
    display: flex;
    /* gap: 170px; */
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-bottom: 40px;

    #pickers {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
    }

    #picker1 {
      display: flex;
      gap: 10px;
      overflow: hidden;
    }
  }

  #showPickedColor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40px;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;

    p {
      margin: 0;
    }

    &:hover {
      transform: scale(1.1);
    }

    div{
      display: flex;
    }
  }

  .themeColors {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;

    &:hover {
      transform: scale(1.2);
      border: 1px solid black;
    }
  }


  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid grey;
    // position: absolute;
    position: fixed;
    bottom: 0;
    left: 0;
    // background-color: white;
    width: 100%;

    h4 {
      margin: 12px 0;
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      img {
        width: 30px;
        aspect-ratio: 1;
      }
    }
  }

  .Avatar {
    // position: absolute;
    top: 30px;
    position: fixed;
    top: 0px;
    left: 40px;
    // background-color: rgba(61, 61, 61, 0.45);
    background-color: #000000c4;
    padding: 10px 50px 0px 50px;
    z-index: 4;
    color: white;
    width: calc(100vw - 140px);
    height: calc(100%);
    overflow: scroll;

    h1 {
      font-size: 30px;
      margin: 20px 0;
    }

    #AvatarCollections {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }

    #avatarImgBack {
      width: 100px;
      height: 100px;
      border-radius: 50%;

      img {
        cursor: pointer;
        background-color: aliceblue;
        border-radius: 50%;
        aspect-ratio: 1;
        width: 100%;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 0 10px rgb(34, 33, 33);
        }
      }
    }

    .avatarBackGroundColor {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .AvatarthemeColors {
      width: 100px;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0);
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        border: 1px solid rgb(255, 255, 255);
      }
    }

    #closeBtnAvatars {
      font-size: 40px;
      border-radius: 50%;
      top: 20px;
      right: 15px;
      position: fixed;
      cursor: pointer;

      &:hover {
        background-color: red;
      }
    }

    #avatarSelect {
      width: 160px;
      border-radius: 50%;

      img {
        width: 100%;
        aspect-ratio: 1;
      }
    }

    #avatarSave {
      display: flex;
      gap: 20px;
      align-items: center;
      padding-bottom: 50px;

      button {
        background-color: greenyellow;
        border: none;
        font-size: 20px;
        color: white;
        border-radius: 10px;
        font-weight: 600;
        padding: 5px;
      }
    }

    
  }


  @media (max-width : 1200px) {
    .Avatar {
      padding: 10px 10px 0 10px;
      width: calc(100%);

      h1 {
        font-size: 24px;
        margin-left: 20px;
      }

      h3 {
        margin-left: 20px;
      }

      #closeBtnAvatars {
        font-size: 28px;
      }
      
      #AvatarCollections,
      .avatarBackGroundColor {
        gap: 10px;
        width: 90%;
        margin: auto;
        margin-top: 20px;
      }

      #avatarImgBack,
      .AvatarthemeColors {
        width: 70px;
        height: 70px;
      }

      #avatarSelect {
        width: 120px;
      }

      #avatarSave {
        button {
          font-size: 14px;
        }
      }
    }
  }

  @media (max-width:1100px) {
    #userSetting #socialLogo {
      display: none;
    }
  }

  @media (max-width:685px) {
    padding: 10px 40px;
    padding-bottom: 90px;
    .themes #pickers {
      margin: auto;
    }

    .Avatar {
      left: 0;

    }

    footer {
      bottom: 40px;
      display: none;
    }
  }

  @media (max-width: 560px) {
    footer div {
      display: none;
    }
  }

  @media (max-width: 380px) {
    .themes {
      #picker1 {
        flex-direction: column;

        #showPickedColor {
          width: 100%;
          height: 40px;
          flex-direction: row;
        }
      }
    }
  }

  @media (max-width: 540px) {

    // justify-content: flex-start;
    #userSetting {
      .userImgName {
        justify-content: center;
        flex-wrap: wrap;
      }
    }

    .themes {

      // padding-bottom: 150px;
      #pickers {
        flex-wrap: wrap;
      }
    }
  }
}