@use "../abstract/" as *;
// .active-dropdown{
//     height: auto;
// }

// .un_active-dropdown{
//     height: 0;
// }

.SenderInfo {
    position: relative;
    display: block;
    padding: 0 30px;
    height: 100%;
    overflow-y: scroll;
    width: 300px;
    color: inherit;
    z-index: 2;
    background-color: var(--bg-Color);
    padding-top: 30px;

    #backBTN {
        position: fixed;
        z-index: 2;
        // top: 10px;
        &:hover {
            background-color: #8582824b;
        }
    }

    h4 {
        margin: 0;
        color: inherit;
        // color: rgba(0, 0, 0, 0.61);
    }

    h3 {
        font-size: 30px;
        text-align: center;
        margin: 0;
        text-transform: capitalize;
        // color: var(--text-Color);
    }

    p {
        font-size: 12px;
        margin: 0;
        text-align: end;
    }

    #UserImg {
        position: relative;
        text-align: center;
        margin: auto;

        img {
            width: 200px;
            aspect-ratio: 1;
            border-radius: 50%;
            cursor: pointer;
        }

    }

    #AllActive {
        border: 2px solid #3BFE00;
        box-shadow: 0px 0px 20px #3BFE00;
    }

    #NoActive {
        border: 2px solid #E00000;
        box-shadow: 0px 0px 20px #E00000;
    }

    #senderContactInfo {
        display: flex;
        gap: 40px;
        justify-content: center;
        border-bottom: 1px solid grey;
        border-top: 1px solid grey;
        padding: 30px 0px;
        margin: 40px 0px 7px 0px;

        img {
            width: 30px;
            aspect-ratio: 1;
        }
    }


    #starredMSG {
        margin-bottom: 60px;

        #sharedMsg {
            padding: 8px 16px;
            position: relative;
            border: 1px solid grey;
            margin-bottom: 6px;
            border-radius: 5px;
            box-shadow: 0 0 5px grey;

            p:first-child {
                display: flex;
                justify-content: space-between;
            }

            #starLogo {
                color: gold;
                font-size: 14px;
                position: absolute;
                top: 6px;
                right: 8px;
            }

            #msg {
                font-size: 15px;
                text-align: start;
                font-weight: 700;
            }

            img {
                width: 40%;
                border-radius: 4px;
                border: 1px solid var(--text-Color);
                aspect-ratio: 1;
                cursor: pointer;
                object-fit: cover;
            }

            #sharedMsgTime {
                display: flex;
                justify-content: space-between;
            }

            #starredDOC {
                text-decoration: none;

                p {
                    background-color: var(--text-Color);
                    color: var(--bg-Color);
                    width: 90%;
                    margin-bottom: 4px;
                    font-size: 16px;
                    padding: 4px 12px;
                    border-radius: 4px;

                    &::first-letter {
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

    #Medias {
        gap: 10px;
        @include flexMixin($JScontent: flex-start);
        margin: 20px 0px;

        img {
            box-shadow: 0 0 5px #7b67674a;
            background-color: rgba(0, 0, 0, 0.121);
            width: 80px;
            aspect-ratio: 1;
            border-radius: 10px;
            cursor: pointer;
            border: 2px solid;
        }

    }

    #sharredDoc {
        #shareDocuments {
            display: flex;
            justify-content: space-evenly;
            margin-top: 14px;

            h4 {
                cursor: pointer;
                padding: 5px 0;
                // padding-bottom: 5px;
                width: 50%;
                text-align: center;

                &:hover {
                    background-color: #8582824b;
                }
            }
        }

        #filesShare {
            display: flex;
            align-items: center;
            background-color: white;
            padding: 12px 20px;
            margin: 15px 0;
            border-radius: 2px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.473);
            gap: 12px;
            font-weight: 600;
            letter-spacing: 1px;
            text-decoration: none;
            color: white;


            div {
                &::first-letter {
                    text-transform: capitalize;
                }
            }

            img {
                width: 20px;
            }

        }
    }

    #logoDropRight {
        font-size: 30px;
        cursor: pointer;
        border-radius: 50%;


        &:hover {
            font-size: 30px;
            // background-color: rgba(0, 0, 0, 0.07);
            background-color: #8582824b;
        }
    }



    #starredMessage {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // color: rgba(0, 0, 0, 0.61);
        color: inherit;
        margin: 10px 0 6px 0;
    }

    #allGroupUsers {
        border-bottom: 1px solid rgba(0, 0, 0, 0.299);

        /* border-top: 1px solid black; */
        p {
            font-weight: 600;
            font-size: 15px;
            letter-spacing: 1px;
            text-align: left;
        }

        #groupUserCollection {
            // height: 0;
            transition: 1s;
            overflow: hidden;

            #groupUser {
                border-bottom: 1px solid rgba(0, 0, 0, 0.299);
                padding-bottom: 4px;
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 10px;
                padding: 4px 15px;
                border-radius: 5px;
                cursor: pointer;
                color: white;

                &:hover {
                    // background-color: rgba(0, 0, 0, 0.148) !important;
                    background-color: rgba(128, 128, 128, 0.537) !important;
                    // color: black;
                }

                p {
                    text-transform: capitalize;

                    span {
                        font-size: 12px;
                    }
                }

                img {
                    border: 2px solid white;
                    width: 50px;
                    border-radius: 50%;
                    aspect-ratio: 1;
                    cursor: pointer;
                }

                #groupUsersDPHead {
                    position: relative;
                    border-radius: 50%;
                    // overflow: hidden;
                    width: 50px;
                    aspect-ratio: 1;

                    div {
                        position: absolute;
                        bottom: 3px;
                        right: 0px;
                        width: 10px;
                        height: 10px;
                        border: 2px solid #f2f1f1;
                        border-radius: 50%;
                        background-color: #3BFE00;
                    }
                }
            }

        }
    }





    @media (max-width:1200px) {
        position: absolute;
        left: 0;
        width: calc((100% - 60px));
    }

    @media (max-width:685px) {
        width: calc(100vw - 50px);
        position: absolute;
        min-height: calc(100vh - 100px);

        // height: calc(100vh - 100px);
        #starredMSG {
            margin-bottom: 120px;

        }
    }
}