@use "../abstract/" as *;

.userChatting {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    border-right: 1px solid #707070;
    position: relative;
    flex: 1;
    // min-height: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
        margin: 0;
    }

    #Searching {
        position: absolute;
        top: 60px;
        right: 5%;
        background-color: var(--bg-Color);
        @include flexMixin();
        padding: 2px 2px 2px 5px;
        border-radius: 4px;
        gap: 5px;
        width: 350px;
        div{
            position: relative;
            flex: 1;
            #searchInput {
                border: none;
                border-bottom: 2px solid var(--dark-border);
                outline: none;
                color: var(--text-Color);
                width: calc(100% - 50px);
                font-size: 12px;
                padding: 4px 48px 4px 5px;
                background: none;
            }
            p{
                position: absolute;
                top: 50%;
                right: 0;
                margin: 0;
                font-size: 10px;
                letter-spacing: .4px;
                // font-weight: 600;
                transform: translate(0,-50%);
                color: var(--text-Color);
                opacity: 0.5;
            }
        }

        #searchUp-Down {
            @include flexMixin();
            background: none;
            color: var(--text-Color);
            border: none;
            cursor: pointer;
            font-size: 28px;
            padding: 0;

            &:hover:enabled {
                background-color: #6b66665c;
            }

            &[disabled] {
                opacity: 0.7;
            }
        }

        #search {
            color: var(--text-Color);
            padding: 6px 12px;
            cursor: pointer;
            font-size: 20px;
            border-left: 2px solid var(--dark-border);
            border-radius: 0 4px 4px 0;

            &:hover {
                background-color: #6b66665c;
            }
        }

        @media (max-width : 685px) {
            top: 50px;
        }

        @media (max-width : 415px) {
            // top: 50;
            left: 50%;
            transform: translate(-50%, 0);
            ;
            width: 90%;
        }
    }

    #userImg {
        width: 35px;
        aspect-ratio: 1;
        border-radius: 50%;
        cursor: pointer;
    }

    .Loading {
        position: absolute;

        img {
            width: 60px;
        }
    }

    .chattingUserHeader {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        border-bottom: 1px solid #707070;
        background-color: var(--bg-Color);
        width: calc(100% - 60px);

        button:disabled{
            background-color: grey !important;
        }

        #senderName {
            cursor: pointer;

            h3 {
                margin: 0;
                font-size: 15px;
                text-transform: capitalize;
            }

            p {
                margin: 0;
                font-size: 10px;
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

            }
        }

        .chattinguserInfo {
            display: flex;
            align-items: center;
            gap: 10px;
        }

    }

    .messageSend img {
        width: 25px;
        aspect-ratio: 1;
        margin: 5px 5px 0px 5px;
    }

    .messageSend div p,
    .messageReceve div p {
        margin: 0;
        width: 95%;
        overflow-wrap: break-word;
    }



    #timeStamp {
        margin: 0;
        text-align: end;
        font-size: 10px;
        margin-right: 10px;
        letter-spacing: 2px;
    }

    .messageSendheader {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
    }

    #writeMessage {
        width: 97%;
        background-color: var(--bg-Color);
        // height: 40px;
        height: 34px;
        padding: 5px 10px;
        display: flex;

        .writeMessage {
            background-color: rgb(38 36 36 / 13%);
            border-radius: 5px;
            flex: 1;
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 5px 15px;
            justify-content: space-between;

            #enterMessage {
                display: flex;
                align-items: center;
                gap: 15px;
                flex: 1.2;

                textarea {
                    background-color: transparent;
                    border: none;
                    font-size: 15px;
                    width: 100%;
                    resize: none;
                    overflow: hidden;
                    height: 15px;
                    background-color: inherit;
                    color: var(--text-Color);

                    &:focus {
                        border: none;
                        outline: none;
                    }
                }
            }

            #sendMessage {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                // width: 20px;
                aspect-ratio: 1;
                background-color: #44D7B6;
                color: white;
                border-radius: 50%;
                padding: 5px;
                font-size: 13px;
            }
        }

    }

    #userChats {
        background-image: url("../../assets/chatAppBackground.png");
        background-size: contain;
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        height: calc(100vh - 160px);
        flex: 1;


        #sharedImg {
            width: 270px;
            cursor: pointer;
            object-fit: cover;
            aspect-ratio: 1.5;
            background-color: rgb(232, 227, 227);
            padding: 2px;
            margin-left: 10px;
            border-radius: 5px;

            @media (max-width:540px) {
                width: 70vw !important;
            }

            // @media (max-width:400px) {
            //     width: 70vw !important;
            // }
        }


        .messageSend {
            min-width: 150px;
            max-width: 70%;
            margin-top: 7px;
            margin-bottom: 7px;
            padding: 7px;
            padding-right: 20px;
            color: white;
            box-shadow: 0px 0px 5px grey;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: #44D7B6;

            #pdfFiles {
                display: flex;
                align-items: center;
                gap: 10px;
                background-color: white;
                border-radius: 4px;
                padding: 4px 12px;
                text-decoration: none;

                #pdfLogo {
                    width: 22px;
                    aspect-ratio: auto;
                }

                p {
                    font-weight: 600;
                    padding: 0 12px 0 0;
                    margin: 0;
                    text-transform: capitalize;

                }
            }

            div {
                display: flex;
                align-items: center;
                font-weight: 500;
            }

        }

        .messageReceve {
            min-width: 200px;
            max-width: 70%;
            background-color: white;
            margin-bottom: 7px;
            margin-top: 7px;
            display: inline-block;
            padding: 7px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            box-shadow: 0px 0px 5px grey;
            color: black;

            p {
                margin: 0;
            }

            #groupSenderInfo {
                font-size: 13px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;

                p {
                    font-size: 13px;
                    font-weight: 700;
                    color: #44D7B6;
                    letter-spacing: 1px;
                    text-transform: capitalize;
                }

                img {
                    aspect-ratio: 1;
                    width: 15px;
                    border: 1px solid black;
                    border-radius: 50%;
                    cursor: pointer;
                    border-color: rgb(68, 215, 182);
                }

            }

            #pdfFiles {
                display: flex;
                align-items: center;
                gap: 10px;
                background-color: white;
                border-radius: 4px;
                padding: 4px 12px;
                text-decoration: none;
                margin: 4px 0;

                #pdfLogo {
                    width: 22px;
                    aspect-ratio: auto;
                }

                p {
                    font-weight: 600;
                    padding: 0 12px 0 0;
                    margin: 0;

                    &::first-letter {
                        text-transform: capitalize;
                    }
                }
            }

        }

        @media (max-width : 540px) {
            .messageSend {
                max-width: 95%;
            }
        }
    }
}

#userChatting2 {
    margin: auto;
    text-align: center;

    p span {
        color: blue;
        cursor: pointer;

        &:hover {
            color: red;
            transform: scale(1.1);
            text-decoration: underline;
        }
    }

    img {
        width: 250px;
    }
}

#deleteHeaderText {
    display: flex;
    /* padding: 10px 0px; */
    padding: 6px 0px;
    gap: 15px;
    align-items: center;

    button {
        padding: 4px;
        width: 70px;
        font-weight: 600;
        border-radius: 5px;
        border: none;
        cursor: pointer;

        &:hover {
            transform: scale(1.04);
        }

        &:last-child {
            border: 2px solid #00000042;
            background-color: #EEE3E3
        }
    }
    #deleteBtn {
        background-color: #E00000;
        color: white;
    }
}

#starHeaderText {
    display: flex;
    /* padding: 10px 0px; */
    padding: 6px 0px;
    gap: 15px;
    align-items: center;

    button {
        padding: 4px;
        width: 70px;
        font-weight: 600;
        border-radius: 5px;
        border: none;
        cursor: pointer;

        &:hover {
            transform: scale(1.02);
        }
    
        &:last-child {
            border: 2px solid #00000042;
            background-color: #EEE3E3
        }
    }
    #starBtn{
        background-color: goldenrod;
        color: white;
    }
    
}


#messageTime {
    gap: 0px;
}

#starLogo {
    color: gold;
    font-size: 18px;
}

.selectMessage {
    background-color: rgba(0, 109, 255, 0.2)
}

#checkBox {
    font-size: 20px;
    // color: #292727eb;
    color: var(--text-Color);
}

#logos {
    display: flex;
    align-items: center;
    gap: 23px;

    label {
        display: flex;
    }

    #headerLogo {
        font-size: 18px;
    }

}

#Senderstatus {
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    color: #3BFE00;
    gap: 5px;
}

#SenderstatusRed {
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    color: #E00000;
    gap: 5px;

    #circle {
        background-color: #E00000;
    }

}

#circle {
    background-color: #3BFE00;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}


#backgroundImg {
    width: 100%;
}





#dropDownMenu {
    position: absolute;
    top: 60px;
    background-color: var(--bg-Color);
    color: var(--text-Color);
    right: 10px;
    padding: 5px;
    width: 150px;
    padding-bottom: 15px;
    box-shadow: 0 0 5px grey;
    border-radius: 5px;
    display: block;
    z-index: 2;

    h4 {
        margin: 0px;
        padding: 2px;
        cursor: pointer;
        border-bottom: 1px solid grey;

        &:hover {
            // background-color: rgba(0, 0, 0, 0.084);
            background-color: #8582824b;
        }
    }

    @media (max-width : 685px) {
        top: 50px;
    }
}

.UserDpShow {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    // z-index: 99999;
    z-index: 5;
    height: 100vh;
    background-color: #000000c2;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 450px;
        margin-bottom: 20px;
        background-color: white;
    }

    svg {
        position: absolute;
        font-size: 20px;
        top: 40px;
        z-index: 5;
        cursor: pointer;
        left: 50px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.255);
        }
    }
}

.Attachments {
    display: flex;
    align-content: center;
    justify-content: space-between;
    position: absolute;
    bottom: 40px;
    background-color: rgba(0, 0, 0, 0.344);
    width: 60%;
    // z-index: 9;
    z-index: 1;
    height: 140px;
    /* width: 70%; */
    padding: 0px 20%;

    /* padding-top: 50px; */
    input {
        display: none;
    }

}

@media (max-width : 685px) {
    .userChatting {
        width: 100vw;

        #deleteHeaderText {
            padding: 5px 15px;
        }

        #starHeaderText {
            padding: 5px 15px;
        }

        .chattingUserHeader {
            padding: 5px 15px;
            width: 100%;

            .chattinguserInfo {
                margin-left: 15px;
            }

            #logos {
                margin-right: 15px;
            }

            #backBTN {
                font-size: 14px;

                &:hover {
                    background-color: #8582824b;
                }
            }

            h3 {
                font-size: 14px;
                letter-spacing: 1px;
            }

            p {
                font-size: 9px;
            }
        }

        .messageSend img {
            width: 20px;
        }

        .messageSend div p,
        .messageReceve div p,
        #userChats .messageSend #pdfFiles p {
            font-size: 14px;
        }

        #timeStamp {
            font-size: 9px;
        }

        #writeMessage {
            // position: absolute;
            // bottom: 0px;
            height: 30px;

            .writeMessage {
                #enterMessage {
                    textarea {
                        font-size: 13px;
                    }
                }
            }
        }
    }


    // .Attachments {
    //     bottom: 40px;
    // }

}


#AttachmentLogo {
    background-color: white;
    color: black;
    margin-top: 45px;
    border-radius: 10px;
    padding: 15px;
    font-size: 25px;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
        background-color: greenyellow;
        color: white;
    }
}



.messageReceve div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#attachmentShowLogo {
    cursor: pointer;
}

#attachmentShowLogo:hover {
    transform: scale(1.1);
}



// #backBtn {
//     color: white;
//     font-size: 25px;
//     font-weight: bolder;
//     position: absolute;
//     top: 40px;
//     left: 40px;
//     cursor: pointer;
//     z-index: 4;    
// }


#dateHeaders {
    display: flex;
    gap: 6px;
    align-items: center;

    p {
        font-weight: 700;
        background-color: #ffffffcf;
        color: black;
        padding: 1px 10px;
        letter-spacing: 2px;
        border: 1px solid grey;
        border-radius: 4px;
    }

    div {
        /* width: 50%; */
        flex: 1;
        height: 1.5px;
        background-color: black;
    }
}

#a {
    width: 100%;
    height: 30px;
}