.userChatting {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    border-right: 1px solid #707070;
    position: relative;
    flex: 1;
    height: 100%;

    #userImg {
        width: 35px;
        aspect-ratio: 1;
        border-radius: 50%;
        cursor: pointer;
    }

    .Loading {
        position: absolute;

        img {
            width: 60px;
        }
    }

    .chattingUserHeader {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        border-bottom: 1px solid #707070;
        background-color: #F2F1F1;

        h3 {
            margin: 0;
            font-size: 15px;
            text-transform: capitalize;
        }

        p {
            margin: 0;
            font-size: 10px;
        }

    }



    // @media (max-width:1100px) {
    //     width: 65.8vw;
    // }

    @media (max-width:685px) {
        /* width: calc(100vw - 40px); */
        width: 99vw;
        height: calc(100vh - 40px);
        margin-left: 0.5vw;
        position: absolute;
        /* display: none; */
    }

}

#userChatting2 {
    margin: auto;
    text-align: center;

    p span {
        color: blue;
        cursor: pointer;

        &:hover {
            color: red;
            transform: scale(1.1);
            text-decoration: underline;
        }
    }

    img {
        width: 250px;
    }
}


#deleteHeaderText {
    display: flex;
    /* padding: 10px 0px; */
    padding: 6px 0px;
    gap: 15px;
    align-items: center;
}

#deleteHeaderText button {
    padding: 4px;
    width: 70px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#deleteHeaderText button:hover {
    transform: scale(1.1);
}

#deleteHeaderText button:first-child {
    background-color: #E00000;
    color: white;
}

#starHeaderText {
    display: flex;
    /* padding: 10px 0px; */
    padding: 6px 0px;
    gap: 15px;
    align-items: center;
}

#starHeaderText button {
    padding: 4px;
    width: 70px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#starHeaderText button:hover {
    transform: scale(1.1);
}

#starHeaderText button:first-child {
    background-color: goldenrod;
    color: white;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

#messageTime {
    gap: 0px;
}

#starLogo {
    color: gold;
    font-size: 18px;
}


#starHeaderText button:last-child {
    border: 2px solid #00000042;
    background-color: #EEE3E3
}

.selectMessage {
    background-color: rgba(0, 109, 255, 0.2)
}

#checkBox {
    font-size: 20px;
    color: #292727eb;
}

#deleteHeaderText button:last-child {
    border: 2px solid #00000042;
    background-color: #EEE3E3
}



.chattinguserInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}



#searchInput {
    margin-right: -15px;
    padding: 2px 5px;
    border-radius: 2px;
}

#logos {
    display: flex;
    align-items: center;
    gap: 23px;
}

#groupSenderInfo {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    p {
        font-size: 13px;
        font-weight: 700;
        color: #44D7B6;
        letter-spacing: 1px;
    }

    img {
        aspect-ratio: 1;
        width: 15px;
        border: 1px solid black;
        border-radius: 50%;
        cursor: pointer;
        border-color: rgb(68, 215, 182);
    }

}


#Senderstatus {
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    color: #3BFE00;
    gap: 5px;
}

#SenderstatusRed {
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    color: #E00000;
    gap: 5px;

    #circle {
        background-color: #E00000;
    }

}

#circle {
    background-color: #3BFE00;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}


#logos #headerLogo {
    font-size: 18px;
}

#backgroundImg {
    width: 100%;
}

#senderName {
    cursor: pointer;
}

#userChats {
    background-image: url("../../Assets/chatAppBackground.png");
    background-size: contain;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 91.4%;
    display: flex;
    flex-direction: column-reverse;
    height: calc(100vh - 150px);

    .messageSend {
        min-width: 150px;
        max-width: 70%;
        margin-top: 7px;
        margin-bottom: 7px;
        padding: 7px;
        padding-right: 20px;
        color: white;
        box-shadow: 0px 0px 5px grey;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: #44D7B6;

        #pdfFiles {
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: white;
            border-radius: 4px;
            padding: 4px 12px;
            text-decoration: none;
            #pdfLogo {
                width: 22px;
                aspect-ratio: auto;
            }
            p{
                font-weight: 600;
                padding: 0 12px 0 0;
                margin: 0;
                text-transform: capitalize;

            }
        }

        div {
            display: flex;
            align-items: center;
            font-weight: 500;
        }

    }

    @media (max-width : 685px) {
        height: calc(100vh - 188px);
    }

    @media (max-width : 540px) {
        .messageSend {
            max-width: 95%;
        }
    }
}

.messageSend img {
    width: 25px;
    aspect-ratio: 1;
    margin: 5px 5px 0px 5px;
}

.messageSend div p,
.messageReceve div p {
    margin: 0;
    width: 95%;
    overflow-wrap: break-word;
}


#dropDownMenu {
    position: absolute;
    top: 40px;
    background-color: white;
    right: 10px;
    padding: 5px;
    width: 150px;
    padding-bottom: 15px;
    box-shadow: 0 0 5px grey;
    border-radius: 5px;
    display: none;
    // z-index: 999;
    z-index: 3;

    h4 {
        margin: 0px;
        padding: 2px;
        cursor: pointer;
        border-bottom: 1px solid grey;

        &:hover {
            background-color: rgba(0, 0, 0, 0.084);
        }
    }

}


#threeBotMenu {
    cursor: pointer;

    &:hover #dropDownMenu {
        transition: 40s;
        display: block;
    }
}


#timeStamp {
    margin: 0;
    text-align: end;
    font-size: 10px;
    margin-right: 10px;
    letter-spacing: 2px;
}



.messageReceve {
    min-width: 200px;
    max-width: 70%;
    background-color: white;
    margin-bottom: 7px;
    margin-top: 7px;
    display: inline-block;
    padding: 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 5px grey;

    p {
        margin: 0;
    }
    #pdfFiles {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: white;
        border-radius: 4px;
        padding: 4px 12px;
        text-decoration: none;
        margin: 4px 0;
        #pdfLogo {
            width: 22px;
            aspect-ratio: auto;
        }
        p{
            font-weight: 600;
            padding: 0 12px 0 0;
            margin: 0;
            text-transform: capitalize;

        }
    }

}

.messageSendheader {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* width: 835px ; */
    /* width: 50vw ; */
    width: 100%;
}

#writeMessage {
    /* width: 815px; */
    width: 97%;
    background-color: white;
    height: 40px;
    position: absolute;
    bottom: 0;
    padding: 5px 10px;

    .writeMessage {
        // background-color: #00000014;
        background-color: rgb(38 36 36 / 13%);
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 5px 20px;
        justify-content: space-between;

        #enterMessage {
            display: flex;
            align-items: center;
            gap: 15px;
            flex-grow: 1.2;

            textarea {
                background-color: transparent;
                border: none;
                font-size: 15px;
                /* width: 670px; */
                width: 100%;
                resize: none;
                overflow: hidden;
                height: 15px;

                &:focus {
                    border: none;
                    outline: none;
                }
            }
        }

        #sendMessage {
            cursor: pointer;
            width: 20px;
            aspect-ratio: 1;
            background-color: #44D7B6;
            color: white;
            border-radius: 50%;
            padding: 6px;
            display: flex;
            align-items: center;
            font-size: 15px;
            justify-content: center;
        }
    }

    @media (max-width : 685px) {
        bottom: 38px;
    }
}

.UserDpShow {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    // z-index: 99999;
    z-index: 5;
    height: 100vh;
    background-color: #000000c2;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Attachments {
    position: absolute;
    bottom: 50px;
    background-color: rgba(0, 0, 0, 0.344);
    width: 60%;
    // z-index: 9;
    z-index: 1;
    height: 140px;
    /* width: 70%; */
    padding: 0px 20%;
    display: flex;
    align-content: center;
    justify-content: space-between;

    /* padding-top: 50px; */
    input {
        display: none;
    }

    @media (max-width : 685px) {
        bottom: 86px;
    }
}


#sharedImg {
    width: 270px;
    cursor: pointer;
    object-fit: cover;
    aspect-ratio: 1.5;
    background-color: rgb(232, 227, 227);
    padding: 2px;
    margin-left: 10px;
    border-radius: 5px;

    @media (max-width:540px) {
        width: 90% !important;
    }
}

#AttachmentLogo {
    background-color: white;
    margin-top: 45px;
    border-radius: 10px;
    padding: 15px;
    font-size: 25px;
}

#AttachmentLogo:hover {
    transform: scale(1.05);
    background-color: greenyellow;
    color: white;

}


.messageReceve div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#attachmentShowLogo {
    cursor: pointer;
}

#attachmentShowLogo:hover {
    transform: scale(1.1);
}

.UserDpShow img {
    width: 450px;
    margin-bottom: 20px;
    background-color: white;
}

#backBtn {
    color: white;
    font-size: 25px;
    font-weight: bolder;
    position: absolute;
    top: 40px;
    left: 40px;
    cursor: pointer;
}


#dateHeaders {
    display: flex;
    gap: 6px;
    align-items: center;
}

#a {
    width: 100%;
    height: 30px;
}

#dateHeaders p {
    font-weight: 700;
    background-color: #ffffffcf;
    padding: 1px 10px;
    letter-spacing: 2px;
    border: 1px solid grey;
    border-radius: 4px;
}

#dateHeaders div {
    /* width: 50%; */
    flex: 1;
    height: 1.5px;
    background-color: black;
}