.SenderInfo{
    padding: 30px;
    /* background-color: aqua; */
    /* width: 300px; */
    max-height: 90vh;
    overflow-y: scroll;
    width: 20vw;
}

#UserImg{
    position: relative;
    text-align: center;
    margin: auto;
}
#UserImg div{
    background-color: green;
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid #BACCD1;
    position: absolute;
    bottom: 18px;
    right: 90px;
}

#UserImg img{
    width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
}

.SenderInfo h3{
    font-size: 30px;
    text-align: center;
    margin: 0;
}

.SenderInfo p{
    font-size: 12px;
    margin: 0;
    text-align: end;
}

#senderContactInfo{
    /* padding: 50px; */
    display: flex;
    gap: 40px;
    justify-content: center;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    padding: 30px 0px;
    margin: 40px 0px 7px 0px;
}

#senderContactInfo img{
    width: 30px;
    aspect-ratio: 1;
}

#Medias{
    gap: 10px;
    display: grid;
    margin-top: 10px;
    margin-right: 20px;
    grid-template-columns: auto auto auto;
    
}

#Medias img{
    box-shadow: 0 0 5px #7b67674a;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.121);
    width: 80px;
    aspect-ratio: 1;
    border-radius: 10px;
    cursor: pointer;
}

#shareDocuments{
    display: flex;
    justify-content: space-evenly;
}

#filesShare{
    background-color: white;
    padding: 8px 20px;
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.473);
    display: flex;
    gap: 12px;
}
#filesShare img{
    width: 20px;
}  

#shareDocuments h4{
    
    cursor: pointer;
    padding-bottom: 5px;
    width: 50%;
    text-align: center;
}

.SenderInfo h4{
    margin: 0;
    color: rgba(0, 0, 0, 0.61);
}

#starredMessage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.61);
    margin-bottom: 15px;
}
#starredMessage #logoDropRight{
    font-size: 30px;
    cursor: pointer;
    border-radius: 50%;
}

#starredMessage #logoDropRight:hover{
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.07);
}


#allGroupUsers {
    border-bottom: 1px solid rgba(0, 0, 0, 0.299);
    /* border-top: 1px solid black; */
}

#allGroupUsers p{
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: left;
}

#groupUser{
    border-bottom: 1px solid rgba(0, 0, 0, 0.299);
    padding-bottom: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
#groupUser img{
    width: 50px;
    border-radius: 50%;
    aspect-ratio: 1;
    cursor: pointer;
}

#groupUsersDPHead{
    position: relative;
}
#groupUsersDPHead div{
    position: absolute;
    bottom: 14px;
    right: 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #3BFE00;
}