.App{
  background-color: rgb(241, 237, 237);
  /* width: 1536px; */
  /* height: 780px; */
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.backgroundLogos{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vw;
  color: rgba(0, 0, 0, 0.438);
  opacity: .2;
  flex-wrap: wrap;
  font-family: cursive;
  /* width: calc(70vw); */
}

.backgroundLogos img{
  width: 30vh;
  aspect-ratio: 1.2;
}

#secondHalf {
  background-color: #f2f1f1;
  height: 100vh;
  left: 40px;
  position: absolute;
  text-align: left;
  top: 0;
  /* width: 1496px; */
  width: calc(100vw - 40px);
}

#backBTN{
  padding: 5px;
  border-radius: 50%; 
  cursor: pointer;
 }


#backBTN:hover{ 
  background-color: rgba(0, 0, 0, 0.078);
}

#Routers{
  height: calc(100% - 45px);
  display: flex;  
}

#MainPage{
  height: 100%;
  width: calc(100vw - 40px);
  display: flex;  
}

#notification{
  position: absolute;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.416);
  color: white;
  bottom: 30px;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
}

#notification p{
  font-weight: 500;
  letter-spacing: 3px;

}
