@media only screen and (max-width: 685px) {
  #MainPage {
    width: 100vw;
    height: 100%;

    #userChattingData {
      /* display: none; */
      position: absolute;
      /* width: 100vw;
        height: 95vh; */
    }

    .backgroundLogos {
      display: none;
    }
  }

  #secondHalf {
    left: 0;
    width: 100vw;
  }

  #chatId {
    /* width: 350px; */
    width: 90vw;
  }

  #FriendRequestOuter #FriendRequest {
    /* margin: 20px 110px; */
    margin: 20px 110px;
    position: fixed;
    /* margin: 5vw; */
    top: auto;
    bottom: 36px;
    /* left: 0; */
    /* width: 90vw; */
    max-height: 70vh;
  }
}


@media only screen and (max-width: 540px) {
  .Setting .userImgName {
    justify-content: center;
    flex-wrap: wrap;
  }

  #FriendRequestOuter #FriendRequest {
    margin: 20px 0px;
  }

  .themes {
    padding-bottom: 150px;
  }

  #pickers {
    flex-wrap: wrap;
  }

  #userChats .messageSend {
    max-width: 95%;
  }

  #sharedImg {
    width: 90%;
  }

  #FriendRequest {
    margin: 20px 10px;
  }
}

@media only screen and (max-width: 420px) {
  #Notificiation {
    position: fixed;
    margin: 5vw;
    /* top: 0; */
    bottom: 36px;
    left: 0;
    width: 85vw;
    max-height: 50vh;
  }

  #FriendRequest {
    position: fixed;
    margin: 5vw;
    /* top: 0; */
    bottom: 36px;
    left: 0;
    width: 85vw;
    max-height: 50vh;
  }

  #FriendRequestBOX {
    margin: 0;
  }
}

@media only screen and (max-width: 380px) {
  #picker1 {
    flex-direction: column;
  }

  #picker1 #showPickedColor {
    width: 100%;
    height: 40px;
    /* flex: 1; */
    flex-direction: row;
  }
}