body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.dark-mode{
  --bg-Color:#080808;
  --text-Color:white;
  --light-border:#6b66665c;
  --dark-border:#6b66665c;
}

.light-mode{
  --bg-Color:#f2f1f1;
  --text-Color:black;
  --light-border:#6b66665c;
  --dark-border:#6b66665c;
}

.App {
  // background-color: #f2f1f1;
  background-color: var(--bg-Color);
  color: var(--text-Color);
  // backgroundz-color: green;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

@media (max-width:685px){
  body{
    overflow: hidden;
  }
}
#secondHalf {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  height: 100vh;
  text-align: left;
  top: 0;
  width: calc(100vw - 40px);
  position: relative;
  @media (max-width:685px){
    position: relative;
    width: 100vw;
    height: calc(100% - 40px);
  }
}

#backBTN {
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  
  &:hover{
    background-color: #8582824b;
}
}

#Routers {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: inherit;
  flex: 1;
  @media (max-width:684px){
    // min-height: calc(100% - 80px);
    height: calc(100% - 80px);
  }
}
